<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Virtual Shop</title>
</head>
<body>
<header class="text-center justify-content-center py-2 bg-dark flex-column">
    <div class="p-2">
        <h1 class="text-white"><a class="h1 text-decoration-none text-white" href="/">Virtual Shop</a></h1>
    </div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active text-white" href="/">Shop Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/stats">Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/graphs">Graphs</a>
        </li>
    </ul>
</header>
<footer class="text-center text-white bg-dark">
    <!-- Copyright -->
    <div class="text-center p-3 bg-dark">
        © Virtual Shop
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>